cockpit.nguyenwork.space {
    reverse_proxy 192.168.8.30:9090
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

plex.nguyenwork.space {
    reverse_proxy 192.168.8.30:32400
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

aria2.nguyenwork.space {
    reverse_proxy 192.168.8.30:6880
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

rqbit.nguyenwork.space {
    reverse_proxy 192.168.8.30:3030
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}
